{{ $baseurl := .Site.BaseURL }}

<article class="single">

  <h1 class="headline" itemprop="headline">We offer crazy webhosting.</h1>
  <section class="body" itemprop="articleBody">
    <p>Our mission is to provide developers with highly performant webhosting in a shared/managed package.<br /><br />
    We offer personal setup and support for our customers and we commit to keeping our servers up to date with the newest software & technology.</p>

    <p>Take a look at our offer <a href="/pricing/">here</a>.</p>
  </section>
</article>
